@import "colors"

body
  font-family: 'Roboto', sans-serif
  background-color: $background
  padding: 0 0 40px
ul
  padding: 0
li
  list-style-type: none
.clearfix::after
  content: ""
  display: table
  clear: both
.wrapper
  &__inner
    padding: 40px 30px
    .title
      font-weight: 500
      margin-bottom: 30px
    .container
      width: 50%
      &-right
        float: right
      &-left
        float: left
    .nav
      margin: 0
      &__item
        padding: 7px 0
    .link
      font-weight: 500
      font-size: 14px
      text-decoration: none
      .underline
        text-decoration: underline
        color: $lightBlue
      span
        color: $blue
        &:hover
          color: $lightBlue
    .header
      .breadcrumbs
        .link
          position: relative
          &::after
            content: ''
            display: inline-block
            background-image: url('../svg/arrow-right.svg')
            width: 15px
            height: 15px
            background-size: contain
            background-repeat: no-repeat
            position: absolute
            right: -20px
            top: 1px
        li
          display: inline
        li:not(:first-child)
          margin-left: 25px
    .btn
      font-size: 14px
      font-weight: 500
      border: 0
      outline: none
      font-weight: 500
      font-size: 14px
      box-shadow: 2px 2px 3px 0px $shadow
      padding: 10px 20px
      border-radius: 10px
      cursor: pointer
    .btn-green
      background: #99fcaf
      background-image: linear-gradient(to bottom, $lightGreen, $green)
    .btn-gray
      background: $lightGray
      background-image: linear-gradient(to bottom, $white, $gray)
    .dir-table
      font-size: 14px
      font-weight: 500
      border-collapse: collapse
      width: 100%
      &__title
        display: block
        padding: 10px 0
        th:first-child
          width: 18vw
          padding: 10px 20px
        th
          width: 10vw
          font-weight: 500
          padding: 10px 0
          text-align: left
      &__body
        display: block
        background-color: $white
        border-radius: 10px
        box-shadow: 4px 3px 22px 0px $shadow
        .row
          border-bottom: 1px solid $lightGray
          > td
            width: 10vw
          .err-name
            width: 18vw
            padding: 20px
    .filter
      margin-left: 40px
      &__title
        padding: 20px
        font-size: 14px
        font-weight: 500
      &__field
        border: 1px solid $gray
        border-radius: 10px
        padding: 20px 20px 50px
        width: 200px
        text-align: center
        input
          width: 100%
          border: 1px solid $gray
          border-radius: 3px
          padding: 3px
          font-size: 12px
          color: $gray
          outline: none

.entry-table
  font-size: 14px
  font-weight: 500
  .row
    display: flex
    align-items: center
    padding: 10px 0
  .entry-title
    width: 220px
    display: inline-block
  input
    font-size: 12px
    padding: 3px 7px
    border-radius: 5px
    height: 19px
    border: 1px solid $gray
    outline: none
  textarea, select
    // padding: 3px 7px
    outline: none
    border: 1px solid $gray
    border-radius: 5px
    font-size: 12px
    font-weight: 500
  textarea
    padding: 8px
  .ui-datepicker-trigger
    position: relative
    top: -0.5px
    right: 27px
    cursor: pointer
  #name, #describe
    width: 230px
  #endDate
    width: 100px
  #weight, #point
    width: 45px
.entry-buttons
  margin-top: 25px
  .undo
    margin: 0 15px
#ui-datepicker-div
  font-size: 12px
  .ui-state-default, .ui-widget-content .ui-state-default, .ui-state-hover
    background: #99fcaf
    background-image: linear-gradient(to bottom, $lightGreen, $green)
    border: none
    border-radius: 3px
    color: $black
    text-align: center
.ui-widget-content, .ui-datepicker-header
  background: $white
  border-color: $lightGray


.selectBox
  position: relative
  &::after
    content: '<>'
    color: $white
    -webkit-transform: rotate(90deg)
    -moz-transform: rotate(90deg)
    -ms-transform: rotate(90deg)
    transform: rotate(90deg)
    left: 267px
    position: absolute
    pointer-events: none
    background: -moz-linear-gradient(0deg, rgba(101,175,253,1) 0%, rgba(0,89,189,1) 100%)
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(101,175,253,1)), color-stop(100%, rgba(0,89,189,1)))
    background: -webkit-linear-gradient(0deg, rgba(101,175,253,1) 0%, rgba(0,89,189,1) 100%)
    background: -o-linear-gradient(0deg, rgba(101,175,253,1) 0%, rgba(0,89,189,1) 100%)
    background: -ms-linear-gradient(0deg, rgba(101,175,253,1) 0%, rgba(0,89,189,1) 100%)
    background: linear-gradient(90deg, rgba(101,175,253,1) 0%, rgba(0,89,189,1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#65affd', endColorstr='#0059bd',GradientType=1 )
    padding: 0px 5px
    border-top-left-radius: 4px
    border-top-right-radius: 4px
  #units
    padding: 5px 15px 6px 5px
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
