@import "colors"

body
  font-family: 'Roboto', sans-serif
  background-color: $background
ul
  padding: 0
li
  list-style-type: none
.wrapper
  .directories
    padding: 25px 20px
    .title
      font-weight: 500
  .nav
    &__item
      padding: 7px 0
      .link
        color: $blue
        font-weight: 500
        font-size: 14px
        text-decoration: none
        border-bottom: 1px solid $lightBlue
        &:hover
          color: $lightBlue
